{%extends 'bookAppBase.html'%}

{%block content%}
<style>
    form{
        padding-left: 15px;
        width:400px;
        margin: auto;
        margin-top: 150px;
        border: 1px solid beige;
        height: 200px;
    }
    table{
        float: left;
    }
    button{
        position: relative;
        left: 20px;
        top:-15px;
        background-color: black;;
        color:beige;
        padding: 10px;
    }
    </style>

<form  action="{% url 'login'%} " method="post" >
    <br>
    <h1 >Login</h1><br>
    {%csrf_token%}
    <table>
    {{form.as_table}}
    </table>
    <br>
    <button  type="submit">로그인</button>
    
</form>
<br><br><br><br><br><br><br><br><br><br>
{%endblock%}