{%extends 'base.html'%}

{%block content%}

{% load static %}
<style>
    #container{
           background-image: url("{% static '손짱난내부/손짱난.jpg'%}") ;
           background-size: cover;
            
            background-size: 850px 700px;
            background-repeat: no-repeat;
            height: 690px;
            border: none;
        }
    section{
        background-color: rgba( 255, 255, 255, 0.9 );
        text-shadow: 1px 1px brown;
        color : gray;
        width: 98%;
        text-align: center;
       
    }
</style>

<div id="container"><br><br>
    <section><br><br>
<h1>회원정보 수정</h1><br>
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <table>
        {{user_change_form.as_table}}
    </table>
    <br><br>
    <button type="submit">올리기</button>
</form><br><br><br>
</section></div>
{%endblock%}