{%extends 'pomBlogBase.html'%}


{%block content %}
{% load static %}
   <style>
        table{
        margin: auto;
        width : 700px;
        border:3px dashed cornflowerblue;
        background-color: rgb(245, 212, 212);
    }
        th{
            width : 60px;
            border:1px solid cornflowerblue;
        }
        td{
            border:1px solid cornflowerblue;
        }
        .toNext{
            background-color: rgb(245, 212, 212);
            border:3px dashed cornflowerblue;
            padding: 10px;
            border-radius: 10px;
        }
    </style>
        {%csrf_token%}
        <br>
       
       <hr>
        <table class="detailTable">
            <tr><td colspan="3"> {% if postContents.image %}<img src={{postContents.image.url}} alt="pom" height="300px"> {% endif %}</td></tr>
            <tr><th>제목</th><td> {{postContents.title}}</td></tr>
            <tr></tr><th>작성자</th> <td> {{postContents.writer}}</td></tr>
            <tr><th>본문</th><td height="300px"> {{postContents.body}}</td></tr>
            
            
           
           
           
            </table>    
        {{postContents.pub_date}}<br><br>
        <a class="toNext" href="{% url 'editPost' postContents.id%}">수정하기</a>
        <a class="toNext" href="{% url 'deletePost' postContents.id%}">삭제하기</a>
        <br>
{%endblock%}